<h1>Hello</h1>

<form action="/new_peep" method="post">
  New Peep: <input type="text" name="content">
  <input type="submit" value="Submit">
</form>

<form action="/peep_feed" method="get">
  <input type="submit" value="FEED">
</form>
