<form action="/sign_up" method="post">
  Name
  <br>
  <input type="text" name="name">
  <br><br>
  User Name
  <br>
  <input type="text" name="user_name" value"user_name">
  <br><br>
  Email
  <br>
  <input type="text" name="email" value"email">
  <br><br>
  Password
  <br>
  <input type="password", name="password">
  <br><br>
  <input type="submit" value="Submit">
</form>
